@font-face {
    font-family: 'os-icons';
    src:    url('fonts/os-icons.eot?njpg2h');
    src:    url('fonts/os-icons.eot?njpg2h#iefix') format('embedded-opentype'),
        url('fonts/os-icons.ttf?njpg2h') format('truetype'),
        url('fonts/os-icons.woff?njpg2h') format('woff'),
        url('fonts/os-icons.svg?njpg2h#os-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.os-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'os-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.os-icon-barchart:before {
    content: "\e018";
}
.os-icon-map:before {
    content: "\e025";
}
.os-icon-layers:before {
    content: "\e031";
}
.os-icon-linechart:before {
    content: "\e039";
}
.os-icon-bubbletree:before {
    content: "\e046";
}
.os-icon-piechart:before {
    content: "\e050";
}
.os-icon-table:before {
    content: "\e912";
}
.os-icon-treemap:before {
    content: "\e913";
}
.os-icon-arrow_down:before {
    content: "\e900";
}
.os-icon-arrow_drop_down:before {
    content: "\e901";
}
.os-icon-box:before {
    content: "\e902";
}
.os-icon-braces:before {
    content: "\e903";
}
.os-icon-bulb:before {
    content: "\e904";
}
.os-icon-checkmark:before {
    content: "\e905";
}
.os-icon-chevron-with-circle-left:before {
    content: "\e906";
}
.os-icon-circle-plus:before {
    content: "\e907";
}
.os-icon-download:before {
    content: "\e908";
}
.os-icon-embed:before {
    content: "\e909";
}
.os-icon-file:before {
    content: "\e90a";
}
.os-icon-filter:before {
    content: "\e90b";
}
.os-icon-location:before {
    content: "\e90c";
}
.os-icon-remove:before {
    content: "\e90d";
}
.os-icon-share:before {
    content: "\e90e";
}
.os-icon-trashcan:before {
    content: "\e90f";
}
.os-icon-upload:before {
    content: "\e910";
}
.os-icon-user:before {
    content: "\e911";
}
.os-icon-man:before {
    content: "\e914";
}
.os-icon-people:before {
    content: "\e915";
}

